*{
  padding: 0;
  margin: 0;
  font-family: 'sans-serif';

}

body{
  background-color: #f7f7f7;

}
.card{
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

.card .content h2{
  font-size: 50px;
  font-weight: 600;

}

.card .content label{
  font-size: 20px;
  font-weight: 700;
}
.card .content .btn{
  margin: 10px 0;
  padding: 7px 16px;
  border-radius: 20px;
}